
/* Custom Font */
body {
  font-family: 'Montserrat', sans-serif;
}

.bg-light-navy {
  background-color: #0f4089;
}

.font-col {
  color: #0f4089;
}

.tailig-words {
  font-size: 1.2rem;
  color: #ffffff;
}

.text-mix-color {
  color: rgb(234, 193, 32);
}

button.btn.btn-custom {
  background-color: #0f4089;
  color: white;
  border: none;
}
button.btn.btn-custom:hover {
  background-color: rgb(255, 193, 7);
  color: #0f4089;
}

div.kitchen-content {
  background-color: rgba(227, 224, 224, 0.2);
  padding: 70px;
}
